body {
	background-color: #000;
}
table {
    width: 50%;
    height: 300px;
    border-collapse: collapse;
    font-family: arial, sans-serif;
}
td {
    padding: 5px;
    text-align: center;
}
input[type=text] {
    width: 100%;
    height: 50px;
    text-align: right;
    font-family: monospace;
    font-size: 3em;
    font-weight: bold;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    opacity: 0.5;
}
input[type=text]:hover {
    opacity: 1;
}
input[type=button] {
    opacity: 0.8;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #dedede;
    color: #444;
    height: 45px;
    width: 65px;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
}
input[type=button]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    opacity: 1;
    border: 1px solid #c6c6c6;
    color: #222;
    cursor: pointer;
}
input[name=equal] {
    background-color: #4d90fe;
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fefefe;
}
input[name=equal]:hover {
    background-color: #669efa;
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
    color: #fefefe;
}
input[name=operator] {
    border: 1px solid #c6c6c6;
    background-color: #d6d6d6;
}

/* **************************** */

input[name=offbtn] {
    background-color: #A2231D;
	/* border: 1px solid #c6c6c6; */
	color: #00BB2D;
}
input[name=operator2] {
    border: 1px solid #c6c6c6;
    background-color: #002E7A;
	color: #FFFFFF;
}
input[name=operator2]:hover {
/*    border: 1px solid #c6c6c6;
    background-color: #002E7A; */
	color: #FFFFFF;
}

/* TOOLTIP */
[data-tooltip]{position:relative;}
[data-tooltip]:before,
[data-tooltip]:after{visibility:hidden;opacity:0;position:absolute;left:50%;transform:translateX(-50%);white-space:nowrap;transition:all .2s ease;font-size:11px;font-family:dotum;letter-spacing:-1px;}
[data-tooltip]:before{content:attr(data-tooltip);height:13px;position:absolute;top:-20px;padding:5px 10px;border-radius:5px;color:#fff;background:#025272;box-shadow:0 3px 8px rgba(165, 165, 165, 0.5);}
[data-tooltip]:after{content: '';border-left:5px solid transparent;top:2px;border-right:5px solid transparent;border-top:5px solid #025272;}
[data-tooltip]:not([data-tooltip=""]):hover:before{visibility:visible;opacity:1;top:-30px}
[data-tooltip]:not([data-tooltip=""]):hover:after{visibility:visible;opacity:1;top:-8px}

nav button {
	background-color: #002E7A;
	color: #FFFFFF;
}