:root {
	--main-bg-color: #fff;
	--main-text-color: #888888;
}

[data-theme="dark"] {
	--main-bg-color: #1e1f26;
	--main-text-color: #ccc;
}

* {
	box-sizing: border-box;
	/* 		transition: all ease 0.2s; */
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	background-color: var(--main-bg-color);
	position: relative;
	transition: all ease 0.2s;
}
.page-header {
	font-size: 2rem;
	/* background-color: var(--main-bg-color); */
	color: var(--main-text-color);
	padding: 2rem 0;
	font-family: monospace;
	text-transform: uppercase;
	letter-spacing: 4px;
	transition: all ease 0.2s;
	cursor:default;
}

.clock {
	min-height: 23em;
	min-width: 23em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	/* background-image: url("https://imvpn22.github.io/analog-clock/clock.png"); */
	background-image: url("../imgs/clock.png");
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
	border: 4px solid var(--main-bg-color);
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
		inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
		inset 0 15px 15px rgba(0, 0, 0, 0.3);
	transition: all ease 0.2s;
}
.clock:before {
	content: "";
	height: 1.95rem;
	width: 1.95rem;
	background-color: var(--main-text-color);
	border: 2px solid var(--main-bg-color);
	position: absolute;
	border-radius: 50%;
	z-index: 1000;
	transition: all ease 0.2s;
}
.hour,
.min,
.sec {
	position: absolute;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}
.hour {
	height: 10em;
	width: 10em;
}
.hour:before {
	content: "";
	position: absolute;
	height: 50%;
	width: 6px;
	background-color: var(--main-text-color);
	border-radius: 6px;
}
.min {
	height: 12em;
	width: 12em;
}
.min:before {
	content: "";
	height: 50%;
	width: 4px;
	background-color: var(--main-text-color);
	border-radius: 4px;
}
.sec {
	height: 13em;
	width: 13em;
}
.sec:before {
	content: "";
	height: 60%;
	width: 2px;
	background-color: #f00;
	border-radius: 2px;
}

/* Style for theme switch btn */
.switch-cont {
	margin: 2em auto;
	/* position: absolute; */
	bottom: 0;
}
.switch-cont .switch-btn {
	font-family: monospace;
	text-transform: uppercase;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	border: 1px solid var(--main-text-color);
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all ease 0.3s;
}

.switch-cont .switch-btn a {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	cursor: pointer;
	transition: all ease 0.3s;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}